@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu&display=swap");

/* General Styles */

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.home-icon,
.today-icon,
.this-week-icon,
.calendar-icon,
.tasks-icon {
	width: 2rem;
	height: 2rem;
	vertical-align: -0.125em;
}

.arrow-down-icon,
.due-date-icon,
.plus-icon,
.clear-icon {
	width: 1.2rem;
	height: 1.2rem;
	vertical-align: -0.125em;
}

.plus-icon-big,
.home-icon-big {
	width: 3rem;
	height: 3rem;
	vertical-align: -0.125em;
}

ul li {
	list-style-type: none;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
		Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	max-height: 100vh;
	margin: 0;
	display: grid;
	grid-template-columns: 1fr 5fr;
	position: relative;
}

/* Side nav bar styles */

.left-section {
	font-family: "Poppins";
	font-weight: bold;
	height: 100vh;
}

.logo {
	margin: 0;
}

/* Main Styles */

.right-section {
	height: 100vh;
	background-color: hsl(0, 0%, 90%);
}

.project-name-header {
	display: flex;
	align-items: center;
	margin: 2.5rem;
	padding: 1.5rem;
	border-radius: 10px;
	background-color: #fff;
	box-shadow: 7px 5px 10px hsla(0, 0%, 0%, 0.1);
}

.tasks {
	margin: 2.5rem;
	padding: 1.5rem;
	border-radius: 10px;
	background-color: #fff;
	box-shadow: 7px 5px 10px hsla(0, 0%, 0%, 0.1);
}

.my-tasks {
	display: flex;
	align-items: center;
}

.task-list {
	display: flex;
	cursor: pointer;
	padding: 2rem;
	border-radius: 10px;
	background-color: #fff;
	box-shadow: 7px 5px 10px hsla(0, 0%, 0%, 0.1);
}

input[type="checkbox"] {
	-webkit-appearance: none;
	appearance: none;
	cursor: pointer;
	position: relative;
	width: 1em;
	height: 1em;
	border: 1px solid gray;
	/* Adjusts the position of the checkboxes on the text baseline */
	vertical-align: -2px;
	/* Set here so that Windows' High-Contrast Mode can override */
	color: black;
}

input[type="checkbox"]::before {
	content: "✔";
	position: absolute;
	font-size: 1.2em;
	right: -2px;
	top: -2px;
	visibility: hidden;
}

input[type="checkbox"]:checked::before {
	/* Use `visibility` instead of `display` to avoid recalculating layout */
	visibility: visible;
}

input[type="checkbox"]:disabled {
	border-color: black;
	background: #ddd;
	color: gray;
}

.task-modal {
	display: none;
	position: absolute;
	width: 700px;
	padding: 2rem;
	background-color: #fff;
	place-self: center;
}

.task-form {
	border-top: 1px solid black;
	padding-top: 1rem;
	margin: 1rem 0;
	display: grid;
	grid-gap: 0.7rem;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(4, 1fr, 2fr) 1fr;
}

.label {
	font-family: "poppins";
	letter-spacing: 1px;
}

.input {
	padding: 0.2rem;
}

.btn {
	padding: 0.7rem 1rem;
}

.add-task-button {
	width: 20%;
}
